@mixin flex() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin radius($x) {
  border-radius: $x;
  -ms-border-radius: $x;
  -webkit-border-radius: $x;
  -moz-border-radius: $x;
}


section {
  width: 85%;
  margin: 0 auto;
  height: 75vh;
  margin-top: 7vh;
  overflow: hidden;
  background: rgba(0, 0, 0, 0);
  box-shadow: 0em 0.8em 1.1em -0.9em rgb(1, 7, 6);
  @include flex();
}

.content {
  flex: 1;
  height: 99.6%;
  background: linear-gradient(to top left, rgb(17, 23, 24), #041d18);
  box-shadow: 0em 0.5em 1em -0.1em rgb(1, 7, 6);
  @include flex();
  flex-direction: column;
  color: white;
  font-family: 'Roboto', monospace;

  .title {
    font-size: 1.1em;
    margin-bottom: 1.7em;
    margin-top: -2em;
  }

  .description {
    font-size: 0.88em;
    width: 300px;
    text-align: justify;
  }

  button {
    margin-top: 2.3em;
    padding: 0.75em 1em 0.75em 1em;
    @include radius(1em);
    border: none;
    outline: none;
    color: white;
    background: #1d5e50;
    letter-spacing: 0.03em;
    transition: all 0.2s;

    &:hover {
      cursor: pointer;
      background: #257564;
    }
  }

}

.photo {
  flex: 1;
  height: 100%;

  img {
    width: 102%;
    box-shadow: 0em 0em 0.1em 0em black;
  }
}
