<section>
  <div class="content">
    <div class="title">O mnie</div>
    <div class="description">Jestem biegaczem amatorem. Biegać zacząłem ponad rok temu. Mam nieco ponad 18 lat.
      Uczestniczyłem w zawodach na dystansie od 400m, aż po półmaraton. Kolejnym celem jest maraton. Trenowałem ciężko
      przez ostatni rok, co poskutkowało wygraną na 1500m w moim mieście. Podczas mojego pierwszego biegu przebiegnąłem
      2km...</div>
    <button>
      Czytaj więcej...
    </button>
  </div>
  <div class="photo">
    <img src="assets/runner.jpg">
  </div>
</section>
